body {
    background: #332259;
    color: white;
}
a {
    text-decoration: none;
}
ol, ul {
    list-style: none;
    list-style-type: none;
}
.title {
    padding: 70px 0;
    text-align:center;
}
.noteTitle {
    color:white;
}
.noteTitle:hover {
    text-shadow: 0px 0px 7px;
}
.p-4.notes {
    background-image: linear-gradient(rgba(113,95,179), rgba(0,0,0,0));
    border-radius: 70px;
    width: 90%;
}
.navbar-custom {
    background-color: #241a45;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .navbar-nav .nav-link {
    color: white;
}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: rgba(255, 255, 255, 0.7);
}
.global-footer {
    background-color: black;
    font-size: 14px;
    display: grid;
    line-height: 29px;
}
.global-footer-content {
    padding: 42px 18px 36px;
    width: 100%;
}
.global-footer-header {
    line-height: 0;
    margin-bottom: 42px;
    text-align: center;
}
.global-footer-header-logo {
    height: 46px;
    width: 183px;
}
.global-footer-header + .global-footer-section {
    margin-top: 0;
}
.global-footer-section-header {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 6px;
}
.global-footer-section-header {
    font-weight: 700;
    text-transform: uppercase;
}
.hlink {
    color: #c5091f;
}
.global-footer-link:hover {
    color: white;
}
.global-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.mainIdea {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(113,95,179));
    height: 845px;
}
.bg1 {
    width: 900px;
    height: 845px;
    overflow: hidden;
    background-image: url(https://images.fineartamerica.com/images-medium-large-5/star-trek-united-federation-logo-brand-a.jpg);
}
.bg1Text {
    width: 900px;
    height: 845px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin: auto;
}
.bg1Overlay {
    backdrop-filter: blur(8px);
    width: 900px;
    height: 845px;
}
.bq1 {
    padding-left: 3%;
    padding-right: 3%;
}
@media only screen and (min-width: 1024px) {
    .global-footer-content {
        grid-column-gap: 20px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin: 0 auto;
        max-width: 1024px;
        padding: 70px 20px 40px;
    }
}
@media only screen and (min-width: 1024px) {
    .global-footer-section + .global-footer-section {
        margin-top: 30px;
    }
}