body {
    background: #332259;
    color: white;
}
.title {
    padding: 70px 0;
    text-align:center;
}
blockquote {
    background: #5c468c;
    border-radius: 10px;
    padding: 16px;
}
.navbar-custom {
    background-color: #241a45;
    color: white;
}